.float_right{
    float:right;
}

.rotate_90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-radius: 0;
}

.cursor_pointer{
    cursor: pointer;
}

.logo a{
    color: #968F8F;
    text-decoration: none;
}

.logo a:hover{
    text-decoration: none;
}

html,
body {
    height: 100%;
}
body { padding-bottom: 70px; }

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.text-center{
    text-align: center;
}

@media (max-width: 767px) { 
    .logo{
    text-align: center;
    }
    .navbar-brand {
        float: none;
    }
}

.dashboard_element{
    /*désactiver car réapparait au drag*/
    /*min-height: 100px; */
/*  -webkit-transition:height 1s;
    -moz-transition:height 1s;
     -o-transition:height 1s;
     transition:height 1s;*/
 }

.dashboard_element{
    margin-bottom: 20px;
}

.dashboard_element .panel{
    margin-bottom: 0;
}

#add_dashboard .panel-body:hover{
    background-color: #CCCCCC;
    color:white;
}

#add_dashboard .panel-body{
    vertical-align: middle;
    text-align: center;
    color: #ddd;
    padding: 12%;
    -webkit-transition:background-color 1s, color 1s;
    -moz-transition:background-color 1s, color 1s;
    -o-transition:background-color 1s, color 1s;
    transition:background-color 1s, color 1s;
}

.full_height{
    height: 100%;
}

.tiers_height{
    height: 30%;
    padding: 0 20px 20px 20px;
}

#clear_footer{
    height:59px;
}

#header_title a{
    -webkit-transition:color 2s;
    -moz-transition:color 2s;
    -o-transition:color 2s;
    transition:color 2s;
}

#header_title a:hover{
    color: #403D3D;
}

.no-transition {
    -webkit-transition: height 0.001s;
    -moz-transition: height 0.001s;
    -ms-transition: height 0.001s;
    -o-transition: height 0.001s;
    transition: height 0.001s;
}


.loading_icon{
    animation-timing-function: cubic-bezier(0.79,0,0.54,0.99);
}

.sortable .panel-heading{
    cursor:move;
}

.sortable .panel-heading .selectable_text{
    cursor:auto;
}

.form-remember-me{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: 44px;
    padding: 10px 0;
    border : 1px solid #C9CBCD;
    margin-top: -1px;
}
.remember-me-group{
    margin-bottom: 0;
}

.btn-connexion{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.toggle_widget{
    padding:3px 5px;
    -webkit-transition:-webkit-transform 0.5s ;
    -moz-transition:-moz-transform 0.5s ;
    -o-transition:-o-transform 0.5s ;
    transition:transform 0.5s ;
}

/* loading by http://codepen.io/jovanChe/pen/IzHuo */
.loader_content .panel-body{
    min-height: 60px;
}

.loader_content .outline {
    width:70px; height:70px;
    margin:55px auto;
}
.loader_content .circle {
    width:70px; height:70px;
    border-radius:50%;
    border-top: 4px solid rgba(0, 0, 0, 0.2);
    border-right: 4px solid rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    border-left: 4px solid #000;
    -webkit-animation: circle 2s infinite linear;
    animation: circle 2s infinite linear;
}

@-webkit-keyframes circle { 
    100% { -webkit-transform: rotate(360deg); } }
@keyframes circle { 
    100% { transform: rotate(360deg); transform:rotate(360deg); } }

/* switch */
.onoffswitch {
    position: relative; width: 100px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 40px; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
    background: #27A1CA; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1; right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; left: 40px; 
    border-style: solid; border-color: #27A1CA transparent transparent #27A1CA; border-width: 15px 10px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; right: 40px; 
    border-style: solid; border-color: transparent #A1A1A1 #A1A1A1 transparent; border-width: 15px 10px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}


/*loader*/
.loader {
  background: #fafafa;
  border-radius: 100%;
  position: relative;
  margin: 0px auto;
  width: 60px;
  height: 60px;
  zoom: 1.9;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 60px;
  position: relative;
  width: 60px;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  25% {
    stroke: #0057e7;
  }
  50% {
    stroke: #008744;
  }
  75% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  25% {
    stroke: #0057e7;
  }
  50% {
    stroke: #008744;
  }
  75% {
    stroke: #ffa700;
  }
}
/*/loader*/